<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Authentication Demonstration</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">Admin </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user">User </a>
      </li>
    </ul>
  </div>

  Current User
  <span class="text-success bg-black"> {{ securityObject?.userName }}</span>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Change User
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item"
        hasClaim="'canViewAdminSection'"
        (click)="changeUserType('admin')"
        >Change To Admin
      </a>
      <a
        class="dropdown-item"
        hasClaim="'canViewUserSection'"
        (click)="changeUserType('user')"
      >
        Change To User
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="d-flex justify-content-center mt-5">
  <button type="button" class="btn btn-success m-2" routerLink="/">
    Got Home Page
  </button>
  <button type="button" class="btn btn-primary m-2" routerLink="/admin">
    Go To Admin
  </button>
  <button type="button" class="btn btn-secondary m-2" routerLink="/user">
    Go to User
  </button>
</div>
