<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Authentication Demonstration</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/admin">Admin </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/user">User </a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Change User
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="changeUserType('admin')" href="#"
        >Change To Admin
      </a>
      <a class="dropdown-item" (click)="changeUserType('user')" href="#">
        Change To User
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<button type="button" class="btn btn-success" routerLink="/">
  Got Home Page
</button>
<button type="button" class="btn btn-primary" routerLink="/admin">
  Go To Admin
</button>
<button type="button" class="btn btn-secondary " routerLink="/user">
  Go to User
</button>
